.container {
  position: absolute;
  max-width: inherit;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 3;
  bottom: -60px;

  .button-wrapper {
    position: relative;
    &.middle-child {
      margin: 0 15px;
    }
  }
}
