.container {
  position: fixed;
  max-width: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  bottom: 15px;
  &.solution {
    justify-content: center;
  }

  .button-wrapper {
    position: relative;
  }
}
