.solution-container {
  position: absolute;
  max-width: 90vw;
  top: 35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  z-index: 1;
  background-color: grey;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 100px;
  h1 {
    text-align: center;
    margin: 0;
  }

  & * {
    margin-bottom: 15px;
    padding: 15px;
  }
  .solution-content-container {
    border-bottom: 1px solid #595959;
    margin: 15px;
    padding: unset;
  }
  div {
    display: flex;
    flex-direction: column;
    .solution-content {
      display: flex;
      flex-direction: row;
      & * {
        margin: unset;
      }
    }
  }
}
