.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in;

  .navbar-content {
    display: inline-block;
  }

  .navbar-content > * {
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    text-align: center;
    &:first-child {
      pointer-events: none;
    }
    &:last-child {
      margin-bottom: unset;
    }
    &:hover {
      border-color: black;
      border-radius: 20px;
    }
    span {
      pointer-events: none;
    }
  }
}
