.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: grey;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  height: 350px;

  & > * {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid transparent;
    text-align: center;
    &:last-child {
      margin-bottom: unset;
    }
    &:hover {
      border-color: black;
      border-radius: 20px;
    }
    span {
      pointer-events: none;
    }
  }
}
