.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  height: 350px;
  transition: all 0.5s ease-in;

  & > * {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid transparent;
    text-align: center;
    &:first-child {
      pointer-events: none;
    }
    &:last-child {
      margin-bottom: unset;
    }
    &:hover {
      border-color: black;
      border-radius: 20px;
    }
    span {
      pointer-events: none;
    }
  }
}
